{% extends 'main.html' %}

{% block title %}Personal Statistics Table{% endblock %}

{% block body %}fitnesstablebody{% endblock %}

{% block header %}
<h1 class="headertext">Personal Statistics Table</h1>
{% endblock %}

{% block content %}
<table id="fitnesstable">
     <tr id="attributetitles">
          <th>Gender</th>
          <th>Age</th>
          <th>HeightFeet</th>
          <th>HeightInches</th>
          <th>Weight</th>
          <th>BMI</th>
               <th>IntensityLevel</th>
          <th>Updated</th>   
     </tr>
     {% for row in collection %}
     <tr>
          <td>{{row['gendername']}}</td>
          <td>{{row['agenum']}}</td>
          <td>{{row['heightinfeet']}}</td>
          <td>{{row['heightininches']}}</td>
          <td>{{row['weightnum']}}</td>
          <td>{{row['bminum']}}</td>
          <td>{{row['intensity']}}</td>
          <td>{{row['updatedat']}}</td>
     </tr>
     {% endfor %}
</table>
{% endblock %}