{% extends 'main.html' %}

{% block title %}Home{% endblock %}

{% block header %}
Navigation Descriptions
{% endblock %}

{% block content %}
<div class="info-container">
     <h2>Person Statistics</h2>
     <p>If your looking to analyze physical characteristics of the people who are in the fitness database, this will display live data from the Person Statistics table taken from the database. You can also check if your submitted input from the <b>Form</b> link was recieved here. Additionally, options to edit the tables are possible on this page as you may edit or remove a record from the database. If you are looking to track your personal metrics, this would be best place to update this information periodically to get accurate information, or in other cases, remove statisitcs of a person if they want to discontinue measuring their metrics.</p>
     <h3>Form</h3>
     <p>Add Statisitcs of a Person to the database by interacting with the form using a link that says <b>"Add Statisitcs for Person"</b> displayed above the table. If you open it, you will notice there are fields for gender, age, height, weight, BMI, and intensity level which are all required fields.<br><br> <mark>WARNING:</mark> This webpage also defends against SQL injection attacks and we are constantly analyzing any suspicious activity at all times.</p>
</div>
<div class="info-container">
     <h2>Person & Equipment</h2>
     <p>On this page, you can view both the Person and Equipment tables. To start, select either the Person table or the Equipment table to display its contents. If you chose the Equipment table, it ouputs equipment items along with a View column. Clicking the <b>"View People"</b> link in this column will show you the people who use the selected equipment. Additionally, it will provide two forms: one to allow updating the equipment name and purpose, and another to add people to that equipment. Alternatively, if you choose the Person table, it outputs a list of people, along with a View column. Clickling the <b>"View Equipment"</b> link will show two forms. One allows you to update the persons name and email, and the other gives you the ability to add equipment to that person.</p>
</div>
{% endblock %}