{% extends 'main.html' %}

{% block title %}Person{% endblock %}

{% block header%} {{ personPageTitle }} {% endblock %}

{% block content %}
<div id="many-to-many-button-container">
     <a class="manytomanytablelinks" href="/showPerson"><i class="fas fa-user" style="padding-right:15px;"></i> Show All People</a>
     <a class="manytomanytablelinks" href="/showEquipment"><i class="fas fa-dumbbell" style="padding-right:15px;"></i> Show All Equipment</a>
</div>
<div id="table-container">
     <table id="manytablestyle">
          <tr>
               <th>ID</th>
               <th>First Name</th>
               <th>Last Name</th>
               <th>Email</th>
               <th>Created</th>
               <th>View</th>
          </tr>
          {% for row in personTable %}
          <tr>
               <td>{{row[0]}}</td>
               <td >{{row[1]}}</td>
               <td >{{row[2]}}</td>
               <td >{{row[3]}}</td>
               <td >{{row[4]}}</td>
               <td class="viewcolumn">
                    <div>
                         <a class="viewlink" href="/showEquipment?personID={{row[0]}}">Show Current Equipment</a>
                    </div>
               </td>
          </tr>
          {% endfor %}
     </table>
</div>
{% endblock %}