{% extends 'main.html' %}

{% block title %}Update{% endblock %}

{% block header %}
Updating {{ personNameTitle }}'s Statistics
{% endblock %}

{% block content %}
<div id="input-container">
     <div id="returnlinkcontainer">
          <a id="returnlink" href="/personStatisticsTable.html">&#8630; Return to table</a>
     </div>
     <form action="">
          <h3 id="formtitle" style="color:white; text-decoration: underline #ffffff44;">Edit Statistics</h3>
          <input type="hidden" name="id" value="{{existingID}}">
          <div id="personcontainer">
               <div id="personinfoitem">
                    <label for="id" class="person">Person</label>
                    <input class="manytextinput" name="id" style="width: 200px;" value="{{personNameTitle}}" disabled>
               </div>
               <div id="persongenderitem">
                    <label for="Gender" class="gender" style="margin-bottom: 1px;">Gender</label>
                    <select class="statisticsdropdowninput" name="Gender" style="width: 170px;">
                         <option value="Male" {% if existingGender == 'Male' %}selected{% endif %}>Male</option>
                         <option value="Female" {% if existingGender == 'Female' %}selected{% endif %}>Female</option>
                    </select>
               </div>
          </div>
          <div id="personnumbercontainer">
               <div id="ageitem">
                    <label for="Age" class="age">Age</label>
                    <input type="text" name="Age" value="{{existingAge}}" class="manytextinput" style="width: 60px;">
               </div>
               <div id="heightitem">
                    <label for="HeightInches" class="heightinches">Height (in.)</label>
                    <input type="text" name="HeightInches" value="{{existingHeight}}" class="manytextinput" style="width: 60px;">
               </div>
               <div id="weightitem">
                    <label for="Weight" class="weight">Weight</label>
                    <input type="text" name="Weight" value="{{existingWeight}}" class="manytextinput" style="width: 60px; margin-bottom: 48px;">
               </div>
          </div>
          <div id="personphysicalcontainer">
               <div id="bmiitem">
                    <label for="BMI" class="bmi">BMI</label>
                    <input type="text" name="BMI" value="{{existingBMI}}" class="manytextinput" style="width: 80px;">
               </div>
               <div id="intensityitem">
                    <label for="IntensityLevel" class="intensitylevel">Intensity Level</label>
                    <select class="statisticsdropdowninput" name="IntensityLevel" style="width: 150px;">
                         <option value="Light" {% if existingIntensity == 'Light' %}selected{% endif %}>Light</option>
                         <option value="Moderate" {% if existingIntensity == 'Moderate' %}selected{% endif %}>Moderate</option>
                         <option value="Heavy" {% if existingIntensity == 'Heavy' %}selected{% endif %}>Heavy</option>
                    </select>
               </div>
          </div>
          <div id="secondcontainer">
               <div id="submititem">
                    <input id="submitbutton" type="submit" value=" Submit">
               </div>
          </div>
        </form>
</div>
{% endblock %}