@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* All Pages Styling*/
.active {
     color: black;
}
:disabled {
     cursor: auto;
}
.info-container {
     display: grid;
     width: 40em;
     padding: 0px 30px 5px 30px;
     background-color: white;
     border: 1px solid #1b262d13;
     border-radius: 10px;
     margin-bottom: 40px;
     place-items: center;
     box-shadow: 0px 5px 4px 0px #1d262d48;
}
#navbar-container {
     display: inline-block;
     background-color: #1b262d;
     height: 70px;
     width: 100%;
     border-bottom: 4px solid #ed314d;
     place-items: center;
     position: fixed;
     top: 0;
     z-index: 1;
}
body {
     display: grid;
     height: 100%;
     place-items: center;
     background-color: #cbf0ff3e;
     margin: auto;
}
::selection {
     background: #cbf0ff;
     color: #1b262d;
}
mark {
     color: #ed314d;
     background-color: #ffffff00;
     font-weight: 800;
}
b {
     font-weight: 800;
}

/* Home Page Styling */
#input-container {
     font-family: 'Fira Sans Condensed', sans-serif;
     display: grid;
     width: 60em;
     padding: 40px 0px;
     background-color: #232d36;
     border: 1px solid #1d262d13;
     border-radius: 10px;
     margin-bottom: 40px;
     align-items: center;
     box-shadow: 0px 5px 4px 0px #1d262da3;
}
ul {
     margin:0;
     padding: 0;
     margin-top: 25px;
}
nav a {
     text-decoration: none;
     font-family: 'Fira Sans Condensed', sans-serif;
     color: white;
     font-size: 22px;
     transition: .2s ease-in;
     padding: 15px;
     font-weight: 400;
}
nav a:hover {
     text-decoration: underline;
     text-underline-offset: 10px;
     font-weight: 500;
}
nav a.active {
     color: white;
     font-weight: 700;
     cursor: default;
     pointer-events: none;
     text-decoration: underline;
     text-underline-offset: 10px;
}
h1 {
     font-family: 'Fira Sans', sans-serif;
     font-size: 52px;
     margin-top: 140px;
     font-weight: 900;
     color: #1b262d;
     text-align: center;
}
h2 {
     font-family: 'Fira Sans', sans-serif;
     font-weight: 900;
     color: #ed314d;
     font-size: 35px;
     text-align: center;
     text-decoration: underline #ed314d44;
     text-underline-offset: 6px;
}
h3 {
     font-family: 'Fira Sans', sans-serif;
     font-weight: 900;
     color: #1b262d;
     font-size: 30px;
     text-align: center;
     text-decoration: underline #1b262d44;
     text-underline-offset: 6px;
     margin-top: 0;
}
p {
     font-family: 'Fira Sans Condensed', sans-serif;
     font-size: 18px;
     font-weight: 500;
     color: #21272b;
     line-height: 1.6;
     margin-top: 0;
}

/* Input Page Styling */
label {
     font-family: 'Fira Sans Condensed', sans-serif;
     font-size: 22px;
     font-weight: 700;
     color: white;
}
.textinput {
     font-family: 'Fira Sans Condensed', sans-serif;
     height: 40px;
     font-size: 20px;
     border: 1px solid #1b262d32;
     border-radius: 6px;
     margin-top: 6px;
     margin-bottom: 30px;
     font-weight: 500;
     color: #ed314d;
     width: 15em;
     background-color: white;
     text-align: center;
}

.dropdowninput {
     font-family: 'Fira Sans Condensed', sans-serif;
     height: 45px;
     font-size: 20px;
     border: 1px solid #1b262d32;
     border-radius: 6px;
     padding-left: 15px;
     margin-top: 6px;
     margin-bottom: 30px;
     font-weight: 500;
     color: #ed314d;
     width: 16em;
     background-color: white;
}
.dropdowninput:hover {
     cursor: pointer;
}
#submitbutton {
     color: #ffffff;
     padding: 10px 30px;
     font-family: 'Fira Sans Condensed', sans-serif;
     background-color: #ed314d;
     text-decoration: none;
     border-radius: 5px;
     font-weight: 500;
     transition: .2s ease-in-out;
     border: 1px solid #ed314dc4;
     font-size: 20px;
}
#submitbutton:hover {
     cursor: pointer;
     box-shadow: 0px 5px 4px 0px #1d262de8;
     color: #ed314d;
     background-color: white;
     border: 1px solid #ed314d22;
}

/* User Table Page Styling */
#tablestyle {
     border-collapse: collapse;
     border: 1px solid;
     font-family: 'Fira Sans Condensed', sans-serif;
     box-shadow: 0px 5px 4px 0px #1d262d48;
     width: 60em;
}
th, td {
     border: 1px solid #1b262d28;
     text-align: center;
     padding: 15px 15px;
}
th {
     font-size: 20px;
     font-weight: 600;
     color: white;
     background-color: #1b262d;
     height: 30px;
}
td {
     font-size: 20px;
     font-weight: 400;
     color: #1b262d;
     background-color: white;
     text-align: left;
}
.deluplink {
     color: white;
     text-decoration: none;
     line-height: 20px;
     font-weight: 400;
     margin-bottom: 5px;
}
.deluplink:hover {
     font-weight: 700;
}
#returnlinkcontainer {
     display: grid;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: baseline;
}
#returnlink {
     color: #ffffff;
     padding: 10px 30px;
     font-family: 'Fira Sans Condensed', sans-serif;
     margin-bottom: 20px;
     background-color: #ed314d;
     padding: 10px 15px;
     text-decoration: none;
     border-radius: 5px;
     font-weight: 500;
     transition: .2s ease-in-out;
     border: 1px solid #ed314dc4;
     font-size: 20px;
}
#returnlink:hover {
     cursor: pointer;
     box-shadow: 0px 5px 4px 0px #1d262de8;
     color: #ed314d;
     background-color: white;
     border: 1px solid #ed314d22;
}
.editcolumn {
     background-color: #ed314d;
     color: white;
     width: 85px; 
     padding-top: none; 
     padding-bottom: none;
}
#formlinkcontainer {
     width: max-content;
     font-family: 'Fira Sans Condensed', sans-serif;
     background-color: #232d36;
     padding: 60px 292px;
     text-decoration: none;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     font-weight: 600;
     transition: .2s ease-in-out;
     border: 1px solid #1d262d13;
     font-size: 20px;
}
#formlink {
     padding: 10px 30px;
     color: white;
     font-family: 'Fira Sans Condensed', sans-serif;
     background-color: #ed314d;
     text-decoration: none;
     border-radius: 5px;
     font-weight: 500;
     transition: .2s ease-in-out;
     border: 1px solid #ed314dc4;
     font-size: 20px;
}
#formlink:hover {
     cursor: pointer;
     box-shadow: 0px 5px 4px 0px #1d262de8;
     color: #ed314d;
     background-color: white;
     border: 1px solid #ed314d22;
}

.manytomanytablelinks {
     color: #ffffff;
     font-family: 'Fira Sans Condensed', sans-serif;
     margin-bottom: 30px;
     background-color: #ed314d;
     padding: 10px;
     text-decoration: none;
     border-radius: 5px;
     font-weight: 600;
     transition: .2s ease-in-out;
     border: 1px solid #d42b44;
     font-size: 20px;
     margin-right: 30px;
     margin-left: 30px;
}
.manytomanytablelinks:hover {
     color: #ed314d;
     border: 1px solid #ed314d22;
     background-color: white;
     font-weight: 600;
     box-shadow: 0px 5px 4px 0px #1d262d48;
     translate: 0px -3px;
}
#many-to-many-button-container {
     display: flexbox;
     place-items: center;
}
#manytablestyle {
     border-collapse: collapse;
     border: 1px solid;
     font-family: 'Fira Sans Condensed', sans-serif;
     box-shadow: 0px 5px 4px 0px #1d262d48;
     width: 60em;
     margin-bottom: 100px;
}
.viewlink {
     color: white;
     text-decoration: none;
     line-height: 20px;
     font-weight: 400;
     margin-bottom: 5px;
}
.viewlink:hover {
     font-weight: 700;
}
#selectedlink {
     color: #ed314d;
     border: 1px solid #ed314d;
     background-color: white;
     font-weight: 600;
     box-shadow: 0px 5px 4px 0px #1d262d48;
     translate: 0px -3px;
     pointer-events: none;
}
.viewcolumn {
     background-color: #ed314d;
     color: white;
     width: 160px; 
     padding-top: none; 
     padding-bottom: none;
}
.addEquipment-container, .addPerson-container {
     font-family: 'Fira Sans Condensed', sans-serif;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     display: grid;
     align-items: center;
     background-color: #232d36;
     width: 60em;
     padding: 40px 0px;
}
.equipmentdropdowninput {
     font-family: 'Fira Sans Condensed', sans-serif;
     height: 45px;
     font-size: 20px;
     border: 1px solid #141d2225;
     border-radius: 6px;
     padding-left: 15px;
     padding-right: 15px;
     margin-top: 22px;
     margin-bottom: 20px;
     font-weight: 500;
     color: white;
     width: 13em;
     height: 47px;
     background-color: #1b262d;
     cursor: pointer;
     transition: .2s ease-in-out;
     transform: translateY(-1px);
}
.statisticsdropdowninput {
     display: grid;
     font-family: 'Fira Sans Condensed', sans-serif;
     height: 45px;
     font-size: 20px;
     border: 1px solid #141d2225;
     border-radius: 6px;
     padding-left: 15px;
     padding-right: 15px;
     font-weight: 500;
     color: white;
     width: 13em;
     height: 47px;
     background-color: #1b262d;
     cursor: pointer;
     transition: .2s ease-in-out;
     margin-top: 36px;
     transform: translateY(-31px);
}
.statisticsdropdowninput:hover {
     background-color: white;
     color: #1b262d;
     border: 1px solid #1b262d22;
     box-shadow: 0px 5px 4px 0px #1d262da8;
}
.equipmentdropdowninput:hover {
     background-color: white;
     color: #1b262d;
     border: 1px solid #1b262d22;
     box-shadow: 0px 5px 4px 0px #1d262da8;
}
#equipmentsubmitbutton {
     color: white;
     font-family: 'Fira Sans Condensed', sans-serif;
     padding: 10px 15px;
     background-color: #ed314d;
     text-decoration: none;
     border-radius: 5px;
     font-weight: 500;
     border: 1px solid #ed314dc4;
     font-size: 20px;
     margin-left: 40px;
     transition: .2s ease-in-out;
}
#equipmentsubmitbutton:hover {
     cursor: pointer;
     box-shadow: 0px 5px 4px 0px #1d262de8;
     color: #ed314d;
     background-color: white;
     border: 1px solid #ed314d22;
}
#equipmentform, #personform {
     position: relative;
     display: flex;
     flex-direction: row;
     align-items: center;
     width: max-content;
     margin: auto;
}
#inputmany-container {
     font-family: 'Fira Sans Condensed', sans-serif;
     border-radius: 10px;
     display: grid;
     align-items: center;
     background-color: #232d36;
     width: 60em;
     padding: 40px 0px;
     margin: 40px 0 20px 0;
     box-shadow: 0px 5px 4px 0px #1d262da3;
     border: 1px solid #1d262d13;
}
#submitbuttonmany {
     padding: 10px 30px;
     color: white;
     font-family: 'Fira Sans Condensed', sans-serif;
     background-color: #ed314d;
     text-decoration: none;
     border-radius: 5px;
     font-weight: 500;
     transition: .2s ease-in-out;
     border: 1px solid #ed314dc4;
     font-size: 20px;
}
#submitbuttonmany:hover {
     cursor: pointer;
     box-shadow: 0px 5px 4px 0px #1d262de8;
     color: #ed314d;
     background-color: white;
     border: 1px solid #ed314d22;
}
#formtitle {
     font-family: 'Fira Sans', sans-serif;
     font-weight: 900;
     color: white;
     font-size: 35px;
     text-align: center;
     text-decoration: underline #ffffff44;
     text-underline-offset: 6px;
     margin-top: 10px;
     margin-bottom: 15px;
}
.manytextinput {
     background-color: #1b262d;
     font-family: 'Fira Sans Condensed', sans-serif;
     height: 40px;
     font-size: 20px;
     border: 1px solid #1b262d25;
     border-radius: 6px;
     margin-top: 6px;
     margin-bottom: 30px;
     font-weight: 500;
     color: white;
     width: 15em;
     transition: .2s ease-in-out;
     text-align: center;
}
.manytextinput:hover {
     background-color: white;
     border: 1px solid #1b262d22;
     box-shadow: 0px 5px 4px 0px #1d262de8;
     color: #1b262d;
}
#editpersonform {
     display: flex;
     position: relative;
     align-self: center;
     width: 50em;
     margin: auto;
     margin-top: 20px;
     flex-direction: column;
}
.firstflexcontainer, #personcontainer, #personnumbercontainer, #personphysicalcontainer {
     display: flex;
     gap: 10px;
     align-items: center;
     width: 100%;
     justify-content: center;
}
.secondcontainer {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.personitems, .emailitem, .equipmentitem, .purposeitem {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     box-sizing: border-box;
     flex-direction: column;
}
#personinfoitem, #persongenderitem, #ageitem, #heightitem, #weightitem, #bmiitem, #intensityitem {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     box-sizing: border-box;
     flex-direction: column;
}
#personinfoitem {
     flex: 0 0 35%;
}
#persongenderitem {
     flex: 0 0 33%;
}
#ageitem, #heightitem, #weightitem {
     flex: 0 0 22.5%;
     right: 3px;
}
#bmiitem {
     flex: 0 0 37%;
}
#intensityitem {
     flex: 0 0 45%
}
#weightitem {
     transform: translateY(9px);
}
.personitems {
     flex: 0 0 20%;
}
.emailitem {
     flex: 0 0 50%;
     transform: translateY(9px);
}
.equipmentitem {
     flex: 0 0 30%;
}
.purposeitem {
     flex: 0 0 50%;
     transform: translateY(30px);
}
#submititem {
     position: relative;
     margin: auto;
     justify-content: center;
     align-items: center;
     box-sizing: border-box;
     width: 100%;
     display: flex;
}