{% extends 'main.html' %}

{% block title %}Personal Statistics Input{% endblock %}

{% block body%}fitnessinputbody{% endblock%}

{% block header %}
<h1 class="headertext">Enter Your Personal Statistics</h1>
{% endblock %}

{% block content %}
<form action="/submitformGet.html" method="GET">
  <label for="gender" class="labelname">Gender</label><br>
  <input type="text" name="gender" placeholder="Male or Female" class="inputtext"><br />
  <label for="age" class="labelname">Age</label><br>
  <input type="text" name="age" placeholder="ex: 21" class="inputtext"><br />
  <label for="feetheight" class="labelname">Height (ft)</label><br>
  <input type="text" name="feetheight" placeholder="ex: 6" class="inputtext"><br />
  <label for="inchesheight" class="labelname">Height (in)</label><br>
  <input type="text" name="inchesheight" placeholder="ex: 4" class="inputtext"><br />
  <label for="weight" class="labelname">Weight</label><br>
  <input type="text" name="weight" placeholder="ex: 172" class="inputtext"><br />
  <label for="bmi" class="labelname">BMI</label><br>
  <input type="text" name="bmi" placeholder="ex: 23.5" class="inputtext"><br />
  <label for="intensitylevel" class="labelname">Intensity Level</label><br>
  <input type="text" name="intensitylevel" placeholder="Light, Moderate, or Heavy" class="inputtext"><br>
  <label for="updated" class="labelname">Updated At</label><br>
  <input type="text" name="updated" placeholder="ex. 2024-10-22 12:30:00" class="inputtext"><br>
  <input id="submitbutton" type="submit" name="Submit">
</form>
{% endblock %}