{% extends 'main.html' %}

{% block title %}Links{% endblock %}

{% block header %}
Navbar Link Descriptions
{% endblock %}

{% block content %}
<div class="info-container">
     <h2>Form</h2>
     <p>Add a Person to the database by interacting with a form. It asks for a first name, last name, username, password, and email. This webpage also defends against SQL injection attacks with best practices.</p>
</div>
<div class="info-container">
     <h2>Person Table</h2>
     <p>Analyze the Person table that is taken from the database and is displayed on the webpage. You can also check if your input was recieved here.</p>
</div>
{% endblock %}